---
import {
	getLocaleFromPathname,
	getLocalizedPath,
	useTranslations,
} from "$utils/i18n"

const locale = getLocaleFromPathname(Astro.url.pathname) || "en"
const t = useTranslations(locale)
---

<a
	href={getLocalizedPath(locale, "/all")}
	class="rounded-md bg-slate-200/60 px-8 py-2 text-center text-sm font-medium text-slate-400 transition hover:bg-slate-200 hover:text-slate-500"
>
	{t("see-all-cards")}
	<div class="pb-[2px] text-[10px] leading-tight tracking-[0.15em] uppercase">
		{t("spoilers")}
	</div>
</a>
