<a
	href="/all"
	class="bg-slate-200/60 hover:bg-slate-200 transition rounded-md py-2 px-8 text-sm text-slate-400 hover:text-slate-500 font-medium text-center"
>
	Voir toutes les cartes
	<div class="text-[10px] uppercase tracking-[0.15em] leading-tight pb-[2px]">
		Spoilers
	</div>
</a>
