---
import { checkLocale, useTranslations } from "$utils/i18n"

const t = useTranslations(checkLocale(Astro.currentLocale))
---

<a
	href="/all"
	class="rounded-md bg-slate-200/60 px-8 py-2 text-center text-sm font-medium text-slate-400 transition hover:bg-slate-200 hover:text-slate-500"
>
	{t("see-all-cards")}
	<div class="pb-[2px] text-[10px] uppercase leading-tight tracking-[0.15em]">
		{t("spoilers")}
	</div>
</a>
