---
import Layout from "$layouts/Layout.astro"
import SubHeader from "$components/Layout/SubHeader.astro"
import { checkLocale, localizedRouteParams, useTranslations } from "$utils/i18n"

export async function getStaticPaths() {
	return localizedRouteParams.map((localePath) => {
		const locale = checkLocale(localePath)
		return {
			params: { locale: localePath },
			props: { locale },
		}
	})
}

const { locale } = Astro.props
const t = useTranslations(locale)
---

<Layout title="About · The Grimoire Archive" description={t("about-summary")}>
	<SubHeader title={t("about-title")} />
	<div class="mx-4">
		<div class="m-auto my-12 grid max-w-3xl grid-cols-1 gap-10">
			<section>
				<h2
					class="mb-3 font-serif text-2xl text-slate-700"
					set:html={t("What are Grimoire Cards")}
				/>
				<p
					class="font-serif text-lg leading-relaxed text-slate-800"
					set:html={t("description")}
				/>
			</section>
			<section>
				<h2 class="mb-3 font-serif text-2xl text-slate-700">
					{t("privacy-title")}
				</h2>
				<div
					class="space-y-4 font-serif text-lg leading-relaxed text-slate-800"
					set:html={t("privacy-body")}
				/>
			</section>
			<section>
				<h2 class="mb-3 font-serif text-2xl text-slate-700">
					{t("credits-title")}
				</h2>
				<div
					class="space-y-4 font-serif text-lg leading-relaxed text-slate-800"
					set:html={t("credits-body")}
				/>
			</section>
		</div>
	</div>
</Layout>
