---
import Layout from "$layouts/Layout.astro"
import Login from "$components/Homepage/Login.astro"
import SeeAllButton from "$components/Homepage/SeeAllButton.astro"
import { localePaths, useTranslations } from "$utils/i18n"
import power from "$images/icons/power.svg"
import { getImage } from "astro:assets"

export async function getStaticPaths() {
	return localePaths
}

const { locale } = Astro.props
const t = useTranslations(locale)

const powerIcon = await getImage({ src: power })
const bgImage = `url(${powerIcon.src})`
---

<style define:vars={{ bgImage }} is:global>
	ul li::before {
		content: "";
		display: inline-block;
		background-image: var(--bgImage);
		background-size: contain;
		width: 8px;
		height: 8px;
		margin-right: 8px;
	}
</style>

<Layout title="The Grimoire Archive · Destiny Grimoire Cards" description="">
	<div class="mx-4">
		<div
			class="m-auto my-12 grid max-w-3xl grid-cols-1 gap-12 md:grid-cols-2"
		>
			<div class="m-auto max-w-md">
				<h2
					class="font-serif text-lg text-slate-500 italic"
					set:html={t("What are Grimoire Cards")}
				/>
				<p class="font-serif text-lg" set:html={t("description")} />
			</div>
			<div class="order-first md:order-none">
				<div class="m-auto flex flex-col items-center gap-2">
					<h2 class="text-center font-smcp text-xl text-slate-400">
						{t("browse-your-grimoire")}
					</h2>
					<Login server:defer {locale}>
						<div
							slot="fallback"
							class="h-32 w-3/4 animate-pulse rounded-xl bg-slate-100"
						>
						</div>
					</Login>
					<SeeAllButton />
				</div>
			</div>
			<div class="m-auto max-w-md">
				<h2 class="font-serif text-lg text-slate-500 italic">
					{t("Website Features")}
				</h2>
				<ul class="list-inside pl-4 font-serif text-lg text-slate-800">
					<li class="-indent-8">
						<em class="font-smcp text-slate-500 not-italic"
							>{t("feature-discover-title")}:</em
						>
						{t("feature-discover-text")}
					</li>
					<li class="-indent-8">
						<em class="font-smcp text-slate-500 not-italic"
							>{t("feature-progress-title")}:</em
						>
						{t("feature-progress-text")}
					</li>
					<li class="-indent-8">
						<em class="font-smcp text-slate-500 not-italic"
							>{t("feature-search-title")}:</em
						>
						{t("feature-search-text")}
					</li>
				</ul>
			</div>
			<div class="m-auto max-w-md md:pt-7">
				<ul class="list-inside pl-4 font-serif text-lg text-slate-800">
					<li class="-indent-8">
						<em class="font-smcp text-slate-500 not-italic">
							{t("feature-language-title")}:
						</em>
						<span set:html={t("feature-language-body")} />
						<a
							class="text-slate-500 underline decoration-1 underline-offset-2"
							href="https://github.com/aureliendossantos/destiny-grimoire/blob/master/src/utils/i18n.ts"
							>{t("feature-language-contribute")}</a
						>{t("feature-language-suffix")}
					</li>
				</ul>
			</div>
		</div>
	</div>
</Layout>
