---
export const prerender = false

import Header from "$components/Header.astro"
import Layout from "$layouts/Layout.astro"
import { getMembershipId, membershipTypeToPath } from "$utils/helpers"
import { checkLocale } from "$utils/i18n"
import { getRelativeLocaleUrl } from "astro:i18n"

if (Astro.request.method != "POST") return Astro.redirect("/", 308)

// POST request must include parameters "platform", "username", and optionally a redirect path
const formData = await Astro.request.formData()
const platform = formData.get("platform")
const username = formData.get("username")
const redirect = formData.get("redirect")

if (typeof username != "string") return Astro.redirect("/")

// platform: "true" is 1 (xbox), "false" is 2 (psn)
const membershipType = platform ? 1 : 2
const membershipId = await getMembershipId(membershipType, username)

const errorMessage =
	!membershipId &&
	`Could not find a Bungie account with ${platform ? "Xbox" : "PSN"} username "${username}". Please check that the username is correct and that you have played Destiny 1 on this platform.`

if (membershipId) {
	Astro.cookies.set("grimoireLogin", {
		membershipType: membershipType,
		membershipId: membershipId,
		username: username,
	})
	return Astro.redirect(
		getRelativeLocaleUrl(
			checkLocale(Astro.params.locale),
			`/user/${membershipTypeToPath(membershipType)}/${username}${redirect ? redirect : ""}`,
		),
	)
}
---

<Layout title="Connexion échouée" description="Compte Bungie introuvable">
	<Header h1="Connexion échouée" subtitle="Compte Bungie introuvable" />
	<div class="flex h-96 items-center justify-center">
		<div class="max-w-md rounded-md bg-slate-200 p-8">
			{errorMessage}
		</div>
	</div>
</Layout>
