:root {
	font-family: Inter, sans-serif;
	font-feature-settings:
		"liga" 1,
		"calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}

@font-face {
	font-family: "Cromwell";
	src: url("/CromwellHPLHS.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "EB Garamond SC";
	src: url("/EBGaramond12-AllSC.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

abbr {
	font-family: "EB Garamond SC", serif;
}
