:root {
	font-family: Inter, sans-serif;
	font-feature-settings:
		"liga" 1,
		"calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}

@font-face {
	font-family: "Cromwell";
	src: url("/CromwellHPLHS.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

/* TODO: Improve font fallback so font-display can be swap without being jarring */

@font-face {
	font-family: "EB Garamond";
	src: url("/EBGaramond12-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "EB Garamond";
	src: url("/EBGaramond12-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: block;
}

abbr {
	font-feature-settings: "c2sc";
}

/* The bold version of EB Garamond is not complete, according to the website, so I'm temporarily using underline for bold text */

.card-description b {
	font-weight: normal;
	text-decoration: underline;
}
