---
import type { HTMLAttributes } from "astro/types"

interface Props extends Omit<HTMLAttributes<"a">, "class"> {
	isActive?: boolean
}

const { isActive, ...attributes } = Astro.props
---

<a
	class:list={[
		"rounded-lg px-2 py-2 transition group-has-[input[type='search']:focus]:hidden sm:px-4",
		isActive
			? "bg-slate-100 text-slate-600 ring ring-slate-300 hover:text-slate-500"
			: "hover:text-slate-400",
	]}
	aria-current={isActive ? "page" : undefined}
	{...attributes}
>
	<slot />
</a>
