---
import type { HTMLAttributes } from "astro/types"

interface Props extends Omit<HTMLAttributes<"a">, "class"> {}

const { ...attributes } = Astro.props
---

<a
	class="block rounded-md p-4 ring-1 ring-slate-300 transition hover:bg-slate-100"
	{...attributes}
>
	<slot />
</a>
