---
import { getCollection } from "astro:content"
import Layout from "$layouts/Layout.astro"
import Grimoire from "$components/Grimoire.astro"
import Header from "$components/Header.astro"
import Footer from "$components/Footer.astro"
import FooterFallback from "$components/FooterFallback.astro"

const themesOrder = [
	"Allies",
	"Places",
	"Enemies",
	"Guardian",
	"Inventory",
	"Activities",
]
const themes = (await getCollection("grimoire"))[0].data.themeCollection.sort(
	(a, b) => themesOrder.indexOf(a.themeId) - themesOrder.indexOf(b.themeId)
)
const cards = (await getCollection("cards"))[0].data
---

<Layout title="Grimoire" description="Toutes les cartes">
	<Header h1="Grimoire" subtitle="Toutes les cartes" />
	<div class="mr-2 sm:mr-4 ml-10">
		<div class="mb-12 mt-10 m-auto max-w-6xl">
			<Grimoire themes={themes} cards={cards} />
		</div>
	</div>
	<Footer server:defer pathname={Astro.url.pathname}>
		<FooterFallback slot="fallback" />
	</Footer>
</Layout>
