---
import Layout from "$layouts/Layout.astro"
import Header from "$components/Header.astro"
import Login from "$components/Homepage/Login.astro"
import SeeAllButton from "$components/Homepage/SeeAllButton.astro"
---

<Layout title="Grimoire de Destiny" description="">
	<Header h1="Grimoire" subtitle="Se connecter" />
	<div class="mx-4">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-12 my-12 max-w-3xl m-auto">
			<p class="font-serif text-lg order-last md:order-none">
				Les cartes de Grimoire recèlent des éléments d'histoire, des poèmes et
				d'autres secrets à propos de l'univers de <i>Destiny</i>. Elles se
				débloquent dans le jeu en participant à des activités ou en trouvant des
				objets cachés, et se consultaient autrefois sur le site de Bungie.
				Cependant, cette section du site a été supprimée à la sortie de <i
					>Destiny 2</i
				>, bien que les cartes puissent encore être débloquées et conférer des
				effets dans le premier jeu. Grâce à l'<abbr>API</abbr>
				de Bungie, toujours accessible, ce site restaure les fonctionnalités perdues
				avec un confort de lecture amélioré.
			</p>
			<div>
				<div class="flex flex-col gap-2 m-auto items-center">
					<h2 class="text-xl text-slate-400 text-center font-smcp">
						Consultez votre Grimoire
					</h2>
					<Login server:defer>
						<div
							slot="fallback"
							class="h-32 bg-slate-100 rounded-xl w-3/4 animate-pulse"
						>
						</div>
					</Login>
					<SeeAllButton />
				</div>
			</div>
		</div>
	</div>
</Layout>
