---
export const prerender = false

import CardPreview from "$components/CardPreview.astro"
import Header from "$components/Header.astro"
import Layout from "$layouts/Layout.astro"
import { cards } from "$utils/helpers"

const term = Astro.url.searchParams.get("term")
// if search term is present in card name or description
const relevantCards = term
	? Object.entries(cards)
			.map(([_, card]) => card)
			.filter(
				(card) =>
					card.cardName.toLowerCase().includes(term.toLowerCase()) ||
					card.cardIntro?.toLowerCase().includes(term.toLowerCase()) ||
					card.cardIntroAttribution
						?.toLowerCase()
						.includes(term.toLowerCase()) ||
					card.cardDescription?.toLowerCase().includes(term.toLowerCase()) ||
					String(card.cardId).toLowerCase().includes(term.toLowerCase())
			)
	: undefined
---

<Layout
	title={(term ? `“${term}” · ` : "") + "Recherche dans le Grimoire"}
	description="Résultats de recherche dans les cartes de Grimoire de Destiny."
/>
<Header
	h1={term ? `“${term}”` : "Recherche vide"}
	subtitle="Résultats de la recherche"
/>
<div class="mr-2 sm:mr-4 ml-10">
	<div class="mb-12 mt-10 m-auto max-w-6xl">
		<div
			class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 sm:gap-4 gap-2"
		>
			{
				Array.isArray(relevantCards) &&
					relevantCards.map((card) => <CardPreview card={card} />)
			}
		</div>
	</div>
</div>
