---
import { getUserSummary } from "$utils/helpers"

interface Props {
	membershipType: 1 | 2
	membershipId: string
	username: string
}

const { membershipType, membershipId, username } = Astro.props

const summary = await getUserSummary(membershipType, membershipId)
const bestCharacter = summary.characters.sort(
	(a: any, b: any) => b.characterBase.powerLevel - a.characterBase.powerLevel,
)[0]
---

<img
	class="inline-block h-[1em] w-[1em] rounded-sm align-[-10%]"
	src={`https://www.bungie.net${bestCharacter.emblemPath}`}
/>
<span class="font-medium">{username}</span>
